node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build / cache
.vite
dev-dist
*.tsbuildinfo

# Electron build çıktıları
release
